.paginacion{
    display: flex;
    justify-content: space-between;
    padding: $separacion 0;
    button{
        background-color: $azul;
        color: $blanco;
        padding: 1rem 3rem;
        display: block;
        text-align: center;
        border: none;
        font-weight: $bold;
        font-size: 2rem;
        text-transform: uppercase;

        &.ocultar{
            visibility: hidden;
        }
        &:hover{
            cursor: pointer;
        }
    }
}